name: my first github actions

on:
  push: 
   branches: [main]

jobs:
    build:
      runs-on: ubuntu-latest

      steps:
        - name: print helo gitac
          run: echo "Hello github actions"
